<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="../static/css/style.css"
      th:href="@{/css/style.css}"
    />
  </head>
  <body>
    <div class="box-form">
      <h1>Đăng nhập</h1>
      <form th:action="@{/login}" th:object="${user}" method="post">
        <div class="form-floating">
          <label for="username">Username: </label>
          <input type="text" id="username" th:field="*{username}" />
        </div>
        <div class="form-floating">
          <label for="password">Password : </label>
          <input type="password" id="password" th:field="*{password}" />
        </div>
        <div class="form-floating" style="text-align: center">
          <button type="submit">Đăng nhập</button>
        </div>
      </form>

      <p
        style="color: red; text-align: center; font-size: 20px"
        th:text="*{err}"
      ></p>
    </div>
  </body>
</html>
