<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
            rel="stylesheet"
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
    />
</head>
<body>
    <form th:action="@{/edit}" th:object="${user}" method="post">
        <div class="form-floating">
            <input type="hidden" th:field="*{id}" />
        </div>
        <div class="form-floating">
            <label for="username">Username: </label>
            <input type="text" id="username" th:field="*{username}" />
        </div>
        <div class="form-floating">
            <label for="password">Password: </label>
            <input type="text" id="password" th:field="*{password}" />
        </div>
        <div class="form-floating">
            <label for="fullName">FullName: </label>
            <input type="text" id="fullName" th:field="*{fullName}" />
        </div>
        <div class="form-floating" style="text-align: center">
            <button type="submit">Sửa</button>
        </div>
    </form>
</body>
</html>