* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

.box-form {
  width: 500px;
  margin: 300px auto;
  text-align: center;
}

.form-floating {
  padding: 7px 0;
}

.form-floating input {
  padding: 7px 0;
  width: 200px;
}

button {
  background-color: blue;
  color: white;
  padding: 7px 20px;
  border-radius: 15px;
  border: 1px solid blue;
  cursor: pointer;
}

/* index page */
h1 {
  text-align: center;
}

table {
  width: 700px;
  margin: auto;
}

td,
th {
  padding: 7px 15px;
}

.view-user {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  color: red;
}